{
  "BINANCE_API_KEY": "在此填入你的 Binance API Key",
  "BINANCE_API_SECRET": "在此填入你的 Binance API Secret",
  "BINANCE_SANDBOX": true,
  "DINGTALK_WEBHOOK_URL": "https://oapi.dingtalk.com/robot/send?access_token=你的Token",
  "DINGTALK_SECRET": ""
}
